Checks: >
  clang-analyzer-*,
  -performance-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -readability-convert-member-functions-to-static,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: modernize-use-nullptr.RewriteMacros
    value: true

